In [112]:
import csv
import pandas as pd
import datetime as dt

#loading airports.dat.txt
with open('weatherdata.csv') as weather_file:
    weather_df = pd.read_csv(weather_file, usecols = ['timestamp', 'temp', 'conditions','fog', 'rain','snow']);
    
with open("train.csv") as train_file:
    train_df = pd.read_csv(train_file, usecols = ['pickup_datetime', 'dropoff_datetime', 'passenger_count', 'pickup_longitude','pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'trip_duration']);

In [25]:
train_df = train_df.round({'pickup_longitude' : 2, 'pickup_latitude' : 2, 'dropoff_longitude' : 2, 'dropoff_latitude': 2})

In [26]:
train_df['pickup_datetime'] = pd.to_datetime(train_df['pickup_datetime'])

In [27]:
train_df['dropoff_datetime'] = pd.to_datetime(train_df['dropoff_datetime'])

In [28]:
#weather_df[['date','time']] = weather_df['timestamp'].str.split(' ', expand = True)
#weather_df[['hour','min','sec']] = weather_df['time'].str.split(':', expand = True)
#weather_df = weather_df.drop(['timestamp','min','sec','time'],axis=1)
#weather_df['hour'] = weather_df['hour'].astype(str).astype(int)
#weather_df['hour'] += 1
weather_df['timestamp'] = pd.to_datetime(weather_df['timestamp'])

In [29]:
train_df

,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
0,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.98,40.77,-73.96,40.77,455
1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.98,40.74,-74.00,40.73,663
2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.98,40.76,-74.01,40.71,2124
3,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.01,40.72,-74.01,40.71,429
4,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.97,40.79,-73.97,40.78,435
5,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.98,40.74,-73.99,40.75,443
6,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.97,40.76,-73.96,40.77,341
7,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.97,40.80,-73.92,40.76,1551
8,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-74.00,40.74,-73.99,40.73,255
9,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.98,40.74,-73.97,40.79,1225
10,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.98,40.76,-74.00,40.73,1274
11,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.99,40.75,-73.96,40.77,1128
12,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.96,40.76,-73.98,40.76,1114
13,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.96,40.77,-73.97,40.76,260
14,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.99,40.73,-73.97,40.78,1414
15,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.96,40.77,-73.95,40.77,211
16,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.99,40.76,-74.00,40.73,2316
17,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.99,40.75,-74.00,40.72,731
18,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.00,40.71,-73.98,40.75,1317
19,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.98,40.74,-73.99,40.73,251
20,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.98,40.74,-73.96,40.76,486
21,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.98,40.75,-73.96,40.76,652
22,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-74.00,40.76,-73.99,40.74,423
23,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.99,40.75,-74.01,40.70,1163
24,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.96,40.78,-73.79,40.64,2485
25,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.96,40.77,-73.97,40.73,1283
26,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.98,40.75,-73.96,40.80,1130
27,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.96,40.71,-73.95,40.68,694
28,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.99,40.71,-73.98,40.69,892
29,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.98,40.76,-73.87,40.77,2331
...,...,...,...,...,...,...,...,...
1458614,2016-02-08 17:16:07,2016-02-08 17:21:45,1,-73.98,40.77,-73.97,40.77,338
1458615,2016-02-05 17:57:08,2016-02-05 18:11:25,1,-73.99,40.73,-73.97,40.71,857
1458616,2016-04-22 17:21:14,2016-04-22 17:29:22,1,-73.99,40.73,-74.00,40.73,488
1458617,2016-04-15 08:31:20,2016-04-15 08:34:48,1,-73.98,40.75,-73.97,40.75,208
1458618,2016-04-17 01:46:48,2016-04-17 01:52:55,1,-73.99,40.73,-74.00,40.73,367
1458619,2016-04-23 12:14:15,2016-04-23 12:26:03,1,-73.95,40.78,-73.98,40.78,708
1458620,2016-04-28 20:51:03,2016-04-28 21:10:25,1,-73.97,40.76,-74.01,40.74,1162
1458621,2016-05-09 14:33:30,2016-05-09 15:12:45,1,-73.96,40.78,-73.99,40.75,2355
1458622,2016-02-19 18:26:52,2016-02-19 18:36:04,1,-74.01,40.72,-74.00,40.72,552
1458623,2016-01-18 20:35:30,2016-01-18 20:44:44,1,-73.99,40.74,-73.99,40.72,554
1458624,2016-03-01 07:21:04,2016-03-01 07:23:36,1,-73.97,40.76,-73.97,40.76,152
1458625,2016-01-25 17:21:15,2016-01-25 17:54:37,1,-73.99,40.74,-73.96,40.77,2002
1458626,2016-01-17 17:21:11,2016-01-17 17:25:15,2,-73.95,40.77,-73.95,40.78,244
1458627,2016-06-23 10:10:28,2016-06-23 10:25:08,5,-73.98,40.77,-73.96,40.78,880
1458628,2016-05-30 03:08:19,2016-05-30 03:14:10,2,-73.99,40.72,-73.98,40.73,351
1458629,2016-06-24 10:33:51,2016-06-24 10:43:52,1,-73.96,40.81,-73.95,40.83,601
1458630,2016-06-25 03:44:32,2016-06-25 03:53:41,5,-73.99,40.73,-73.99,40.74,549
1458631,2016-05-14 23:18:23,2016-05-14 23:24:05,3,-73.96,40.76,-73.95,40.78,342
1458632,2016-03-06 11:04:48,2016-03-06 11:17:45,2,-74.02,40.71,-74.00,40.74,777
1458633,2016-03-17 19:10:16,2016-03-17 19:26:35,3,-73.98,40.74,-74.00,40.76,979
1458634,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.99,40.73,-73.96,40.77,972
1458635,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.99,40.76,-73.99,40.77,237
1458636,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.86,40.77,-73.86,40.76,800
1458637,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.98,40.75,-73.95,40.78,760
1458638,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.99,40.74,-73.99,40.76,414
1458639,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.98,40.75,-73.99,40.74,778
1458640,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.00,40.75,-73.97,40.80,655
1458641,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.96,40.77,-74.00,40.71,764
1458642,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.98,40.75,-73.97,40.76,373
1458643,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.98,40.78,-73.97,40.79,198

In [30]:
weather_df

               timestamp  temp        conditions  fog  rain  snow
0    2016-01-01 00:51:00  42.1          Overcast    0     0     0
1    2016-01-01 01:51:00  41.0          Overcast    0     0     0
2    2016-01-01 02:51:00  41.0          Overcast    0     0     0
3    2016-01-01 03:51:00  41.0          Overcast    0     0     0
4    2016-01-01 04:51:00  39.9          Overcast    0     0     0
5    2016-01-01 05:51:00  39.9          Overcast    0     0     0
6    2016-01-01 06:51:00  39.0          Overcast    0     0     0
7    2016-01-01 07:51:00  39.0          Overcast    0     0     0
8    2016-01-01 08:51:00  39.0     Partly Cloudy    0     0     0
9    2016-01-01 09:51:00  39.9          Overcast    0     0     0
10   2016-01-01 10:51:00  39.9          Overcast    0     0     0
11   2016-01-01 11:51:00  39.9          Overcast    0     0     0
12   2016-01-01 12:51:00  39.9          Overcast    0     0     0
13   2016-01-01 13:51:00  39.9          Overcast    0     0     0
14   2016-01-01 14:51:00  39.0          Overcast    0     0     0
15   2016-01-01 15:51:00  39.0          Overcast    0     0     0
16   2016-01-01 16:51:00  37.9             Clear    0     0     0
17   2016-01-01 17:51:00  37.9             Clear    0     0     0
18   2016-01-01 18:51:00  37.0     Partly Cloudy    0     0     0
19   2016-01-01 19:51:00  37.0             Clear    0     0     0
20   2016-01-01 20:51:00  36.0             Clear    0     0     0
21   2016-01-01 21:51:00  35.1             Clear    0     0     0
22   2016-01-01 22:51:00  35.1             Clear    0     0     0
23   2016-01-01 23:51:00  35.1             Clear    0     0     0
24   2016-01-02 00:51:00  34.0     Mostly Cloudy    0     0     0
25   2016-01-02 01:51:00  34.0             Clear    0     0     0
26   2016-01-02 02:51:00  34.0             Clear    0     0     0
27   2016-01-02 03:51:00  34.0             Clear    0     0     0
28   2016-01-02 04:51:00  33.1             Clear    0     0     0
29   2016-01-02 05:51:00  33.1             Clear    0     0     0
...                  ...   ...               ...  ...   ...   ...
5145 2016-07-01 08:51:00  75.0  Scattered Clouds    0     0     0
5146 2016-07-01 09:51:00  77.0     Mostly Cloudy    0     0     0
5147 2016-07-01 10:51:00  77.0     Mostly Cloudy    0     0     0
5148 2016-07-01 11:51:00  77.0          Overcast    0     0     0
5149 2016-07-01 12:36:00  78.1  Scattered Clouds    0     0     0
5150 2016-07-01 12:51:00  78.1     Partly Cloudy    0     0     0
5151 2016-07-01 13:08:00  78.1     Mostly Cloudy    0     0     0
5152 2016-07-01 13:51:00  77.0          Overcast    0     0     0
5153 2016-07-01 14:21:00  77.0          Overcast    0     0     0
5154 2016-07-01 14:51:00  78.1     Mostly Cloudy    0     0     0
5155 2016-07-01 15:51:00  75.0        Light Rain    0     1     0
5156 2016-07-01 16:35:00  75.0  Scattered Clouds    0     0     0
5157 2016-07-01 16:51:00  73.9             Clear    0     0     0
5158 2016-07-01 17:34:00  72.0        Light Rain    0     1     0
5159 2016-07-01 17:51:00  70.0        Heavy Rain    1     1     0
5160 2016-07-01 18:08:00  70.0        Light Rain    0     1     0
5161 2016-07-01 18:14:00  70.0        Heavy Rain    1     1     0
5162 2016-07-01 18:26:00  71.1        Light Rain    0     1     0
5163 2016-07-01 18:34:00  71.1          Overcast    0     0     0
5164 2016-07-01 18:51:00  72.0  Scattered Clouds    0     0     0
5165 2016-07-01 19:51:00  71.1             Clear    0     0     0
5166 2016-07-01 20:51:00  70.0     Partly Cloudy    0     0     0
5167 2016-07-01 21:32:00  70.0     Mostly Cloudy    0     0     0
5168 2016-07-01 21:51:00  69.1          Overcast    0     0     0
5169 2016-07-01 22:09:00  68.0        Heavy Rain    0     1     0
5170 2016-07-01 22:25:00  66.9        Light Rain    0     1     0
5171 2016-07-01 22:29:00  66.9        Light Rain    0     1     0
5172 2016-07-01 22:38:00  66.0     Mostly Cloudy    0     0     0
5173 2016-07-01 22:51:00  66.9  Scattered Clouds    0     0     0
5174 2016-07-01 23:51:00  66.9             Clear    0     0     0

[5175 rows x 6 columns]

In [94]:
import json
import codecs

data = json.load(codecs.open('nyc.json', 'r', 'utf-8-sig'))

In [95]:
restaruant_df = pd.DataFrame(data)

In [96]:
restaruant_df = restaruant_df.drop(['FIELD4'], axis=1)

In [97]:
restaruant_df.rename(columns={'FIELD1' : 'name', 'FIELD2' : 'latitude', 'FIELD3': 'longitude'}, inplace = True)

In [101]:
restaruant_df.round({'latitude' : 2,'longitude' : 2})

                                                    name  latitude  longitude
0      BRUNOS ON THE BOULEVARD 88-25 ASTORIA BOULEVAR...     40.76     -73.88
1      WILD ASIA 2300 SOUTHERN BOULEVARD New York NY ...     40.85     -73.88
2      P & S DELI GROCERY 730 COLUMBUS AVENUE New Yor...     40.79     -73.97
3      ANGELIKA FILM CENTER 18 WEST HOUSTON STREET Ne...     40.73     -74.00
4      SHASHEMENE INT'L RESTAURA 195 EAST 56 STREET N...     40.65     -73.93
5      CARVEL ICE CREAM 1006 EAST 233 STREET New York...     40.89     -73.85
6      LEXLER DELI 405 LEXINGTON AVENUE New York NY 1...     40.75     -73.98
7      SNACK TIME GRILL 87-69 LEFFERTS BOULEVARD New ...     40.70     -73.83
8      MITCHEL LONDON FOODS 22 EAST 65 STREET New Yor...     40.76     -73.96
9      SPOON BREAD CATERING 364 WEST 110 STREET New Y...     40.80     -73.97
10     TERMINAL CAFE/YANKEE CLIPPER 0 GUARDIA AIRPORT...     40.78     -73.87
11     PLAZA BAGELS & DELI 73 NEW DORP PLAZA New York...     40.57     -74.12
12     B & M HOT BAGEL & GROCERY 203 GIFFORDS LANE Ne...     40.56     -74.15
13     TEXAS ROTISSERIE 94 FULTON STREET New York NY ...     40.71     -74.01
14        MANHEM CLUB 658 CLARENCE AVE New York NY 10465     40.83     -73.81
15     OLD TOWN BAR & RESTAURANT 45 EAST 18 STREET Ne...     40.73     -73.99
16     BEN-BEST DELI & RESTAURANT 96-40 QUEENS BOULEV...     40.73     -73.86
17     DONOHUE'S STEAK HOUSE 845 LEXINGTON AVENUE New...     40.77     -73.97
18           DINING ROOM . ALLEN TRIPO New York NY 10075     40.77     -73.96
19     NEW PARK PIZZERIA & RESTAURANT 156-71 CROSSBAY...     40.70     -73.82
20          MELODY LANES 461 37 STREET New York NY 11232     40.65     -74.00
21           SHELL LANES 1 BOUCK COURT New York NY 11223     40.59     -73.97
22     SOUTH SHORE SWIMMING CLUB 6736 HYLAN BOULEVARD...     40.51     -74.23
23     MAY MAY KITCHEN 1269 SUTTER AVENUE New York NY...     40.67     -73.87
24     STEVE CHU'S DELI & GROCERY 3406 10 STREET New ...     40.76     -73.93
25            COMO PIZZA 4035 BROADWAY New York NY 10032     40.84     -73.94
26     ANGELO OF MULBERRY ST. 146 MULBERRY STREET New...     40.72     -74.00
27     PANCHITO'S 103 MACDOUGAL STREET New York NY 10012     40.73     -74.00
28     SPAIN RESTAURANT & BAR 113 WEST 13 STREET New ...     40.75     -74.01
29       PALACE CAFE 206 NASSAU AVENUE New York NY 11222     40.73     -73.94
...                                                  ...       ...        ...
24927  GARDEN CITY CHINESE RESTAURANT INC 224-01 MERR...     40.68     -73.75
24928  E & E ZHU INC 2510 HYLAN BOULEVARD New York NY...     40.57     -74.11
24929  JALISCOS RESTAURANT INC 25-08 34 STREET New Yo...     40.76     -73.91
24930  NEW LUCKY STAR OF BRONX INC 145 WEST KINGSBRID...     40.87     -73.90
24931  TAQUERIA EL BARRIO 2327 1 AVENUE New York NY 1...     40.79     -73.93
24932  VICCS PIZZERIA INC 3039 BUHRE AVENUE New York ...     40.85     -73.83
24933   CRIG DOGS 120 MACDOUGAL STREET New York NY 10012     40.73     -74.00
24934  CASTILLO RESTAURNAT 709 5 AVENUE New York NY 1...     40.67     -73.98
24935  NONNO FRANKIE PIZZA INC 7502 13 AVENUE New Yor...     40.61     -74.02
24936  LOS LIMONES II CORP 262 WYCKOFF AVENUE New Yor...     40.70     -73.91
24937  MAGNIFICENT MEALS INC 227-01 LINDEN BOULEVARD ...     40.69     -73.73
24938    SUBWAY 220-34 HILLSIDE AVENUE New York NY 11427     40.73     -73.74
24939  CAMBRELENG COFFEE CORP. 2403 CAMBRELENG AVENUE...     40.85     -73.89
24940  MUSCLE MAKER GRILL 2071 CLOVE ROAD New York NY...     40.60     -74.08
24941            CRAVE IT 545 6 AVENUE New York NY 10011     40.75     -74.01
24942  MURRAY'S FALAFEL AND GRILL, INC. 261 1 AVENUE ...     40.73     -73.99
24943  ARANCINI BROS.,LLC 192 SEIGEL STREET New York ...     40.70     -73.94
24944  CAFE 1 OF A KIND 255-13 NORTHERN BOULEVARD New...     40.77     -73.73
24945  OGLIASTRO 784 WASHINGTON AVENUE New York NY 11238     40.67     -73.96
24946    EL ZARSO LLC 90-40 160 STREET New York NY 11432     40.72     -73.79
24947  Trini Delite Roti Shop 129-04 LIBERTY AVENUE N...     40.69     -73.82
24948  SKY CAFE NYC INC 86-20 WHITNEY AVENUE New York...     40.74     -73.88
24949  CANE GROVE BAKERY INC 179-03 JAMAICA AVENUE Ne...     40.71     -73.78
24950  ARMANDO'S PIZZA, INC 1717 BROADWAY New York NY...     40.68     -73.91
24951  BROAD DONUTS INC 90 BROAD STREET New York NY 1...     40.70     -74.01
24952  NEW REDSTONE ROCKET, CORP 32-35 48 AVENUE New ...     40.74     -73.94
24953  ANDALUCIA BAR & LOUNGE 1336 BUSHWICK AVENUE Ne...     40.69     -73.91
24954  Pizza Studio 444 EAST FORDHAM ROAD New York NY...     40.86     -73.89
24955  APPLEBEES NEIGHBORHOOD GRILL & BAR 448 GATEWAY...     40.65     -73.87
24956  APPLEBEES NEIGHBORHOOD GRILL & BAR 815 HUTCHIN...     40.82     -73.84

[24957 rows x 3 columns]

In [107]:
with open('holidays.csv') as holiday_file:
    holiday_df = pd.read_csv(holiday_file);

In [125]:
def date_format (date):
    day, month = str(date).split("-")
    month = months[month]
    return dt.date(2016, int(month), int(day)) 
    
months = {
        'Jan': 1,
        'Feb': 2,
        'Mar': 3,
        'Apr': 4,
        'May': 5,
        'Jun': 6,
        'Jul': 7,
        'Aug': 8,
        'Sep': 9,
        'Oct': 10,
        'Nov': 11,
        'Dec': 12,
    }

holiday_df['Date'] = holiday_df['Date'].map(date_format)

In [128]:
holiday_df['Date'] = pd.to_datetime(holiday_df['Date'])

In [131]:
holiday_df = holiday_df.drop(['Where It is Observed'], axis = 1)

In [132]:
holiday_df

,Date,Weekday,Holiday Name,Holiday Type
0,2016-01-01,Friday,New Year's Day,Federal Holiday
1,2016-01-06,Wednesday,Epiphany,Christian
2,2016-01-07,Thursday,Orthodox Christmas Day,Orthodox
3,2016-01-13,Wednesday,Stephen Foster Memorial Day,Observance
4,2016-01-14,Thursday,Orthodox New Year,Orthodox
5,2016-01-15,Friday,Lee Jackson Day,State holiday
6,2016-01-18,Monday,Martin Luther King Jr. Day,Federal Holiday
7,2016-01-18,Monday,Robert E Lee's Birthday,State holiday
8,2016-01-18,Monday,State Holiday,State holiday
9,2016-01-18,Monday,Idaho Human Rights Day,State holiday
10,2016-01-18,Monday,Civil Rights Day,State holiday
11,2016-01-19,Tuesday,Robert E Lee's Birthday,State holiday
12,2016-01-19,Tuesday,State Holiday,State holiday
13,2016-01-25,Monday,Tu Bishvat/Tu B'Shevat,Jewish holiday
14,2016-01-29,Friday,Kansas Day,Observance
15,2016-02-01,Monday,National Freedom Day,Observance
16,2016-02-02,Tuesday,Groundhog Day,Observance
17,2016-02-04,Thursday,Rosa Parks Day,Local observance
18,2016-02-05,Friday,National Wear Red Day,Observance
19,2016-02-08,Monday,Chinese New Year,Observance
20,2016-02-09,Tuesday,Shrove Tuesday/Mardi Gras,State holiday
21,2016-02-09,Tuesday,Shrove Tuesday/Mardi Gras,Observance
22,2016-02-09,Tuesday,Shrove Tuesday/Mardi Gras,Local observance
23,2016-02-10,Wednesday,Ash Wednesday,Christian
24,2016-02-12,Friday,Lincoln's Birthday,State holiday
25,2016-02-12,Friday,Lincoln's Birthday,Local observance
26,2016-02-14,Sunday,Valentine's Day,Observance
27,2016-02-14,Sunday,Statehood Day in Arizona,Local observance
28,2016-02-15,Monday,Presidents' Day,Federal Holiday
29,2016-02-15,Monday,Daisy Gatson Bates Day,State holiday
...,...,...,...,...
204,2016-11-11,Friday,Veterans Day,Federal Holiday
205,2016-11-24,Thursday,Thanksgiving Day,Federal Holiday
206,2016-11-25,Friday,State Holiday,State holiday
207,2016-11-25,Friday,Presidents' Day,State holiday
208,2016-11-25,Friday,Lincoln's Birthday/Lincoln's Day,State holiday
209,2016-11-25,Friday,Black Friday,State holiday
210,2016-11-25,Friday,American Indian Heritage Day,State holiday
211,2016-11-27,Sunday,First Sunday of Advent,Christian
212,2016-11-28,Monday,Cyber Monday,Observance
213,2016-12-06,Tuesday,St Nicholas' Day,Observance
214,2016-12-07,Wednesday,Pearl Harbor Remembrance Day,Observance
215,2016-12-08,Thursday,Feast of the Immaculate Conception,Christian
216,2016-12-12,Monday,The Prophet's Birthday,Muslim
217,2016-12-12,Monday,Feast of Our Lady of Guadalupe,Observance
218,2016-12-13,Tuesday,National Guard Birthday,Observance
219,2016-12-17,Saturday,Pan American Aviation Day,Observance
220,2016-12-17,Saturday,Wright Brothers Day,Observance
221,2016-12-21,Wednesday,December Solstice,Season
222,2016-12-23,Friday,Christmas Eve observed,State holiday
223,2016-12-23,Friday,Washington's Birthday,State holiday
224,2016-12-24,Saturday,Christmas Eve,"Observance, Christian"
225,2016-12-24,Saturday,Christmas Eve,State holiday
226,2016-12-25,Sunday,Chanukah/Hanukkah (first day),Jewish holiday
227,2016-12-25,Sunday,Christmas Day,Federal Holiday
228,2016-12-26,Monday,Kwanzaa (until Jan 1),Observance
229,2016-12-26,Monday,Christmas Day observed,Federal Holiday
230,2016-12-26,Monday,Day After Christmas Day,State holiday
231,2016-12-30,Friday,New Year's Eve observed,State holiday
232,2016-12-31,Saturday,New Year's Eve,Observance
233,2016-12-31,Saturday,New Year's Eve,State holiday